/******* responsivité ********/
@media all and (max-width: 767px) {
    body{
        overflow-x: hidden;
    }
    .navImage {
        width: 130px;
        margin-top: -5px;
    }
    .imgProfil {
        margin-left: 0px;
    }
    .navItemModife{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .BlockLogoFooter {
        max-width: unset;
        margin-top: -3px;
        margin-left: unset;
    }
    .elemntModifie {
        width: 290px;
        padding-top: 40px;
    }
    .activeElement {
        top: 30px;
        left: 20px;
    }
    .btnDropModife {
        width: 20px;
        margin-top: 6px;
    }
    .coverElement img {
        margin-top: 50px;
        width: 100%;
    }
    .cardModife {
        margin-top: -15px;
        margin-left: 8px;
        width: 96%;
        padding: 10px;
    }
    .blockPhoto {
        width: 80px;
        height: 80px;
        overflow: hidden;
    }
    .name {
        color: #222222;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .information {
        width: 78%;
        margin-left: 14px;
    }
    .informationDesktop{
        display: none;
    }
    .informationMobile{
        display: block;
    }
    .BlockLocalisation {
        margin-top: 13px;
        padding-left: 10px;
    }
    .blockButtonProfesseurs {
        margin-top: 18px;
        display: block;
    }
    .group-2{
        display: flex;
        justify-content: space-between;
    }
    .labelTextMessage {
        font-size: 11px;
    }
    .btnSuivre {
        width: 95px;
    }
    .btnreseau {
        width: 200px;
    }
    .presentationDesktop{
        display: none;
    }
    .presentationMobile{
        display: block;
    }
    .myNav {
        width: 100%;
        background: #fff;
        padding-left: 0px;
        border: 1px solid #00000029;
        margin-top: 45px;
    }
    .myNav-item:not(:first-child) {
        border-top:1px solid #4d4d4d;
    }
    .myNav-link {
        display:block;
        padding:8px 5px;
    }
    .myNav-content {
        padding:0 20px;
        padding-bottom:8px;
    }
    .ui-accordion-content {
        display:none;
    }
    .active > .ui-accordion-content {
        display:block;
    }

    .myNav-item {
        position: relative;
        list-style: none;

    }
    .myNav-item:before { /* Flèche */
        content:'';
        position:absolute;
        top:17px; right:10px;
        width:0; height:0;
        border-style:solid;
        border-color:transparent;
        border-width:5px; /* Taille de la flèche */
        pointer-events:none; /* Clique neutralisé */
    }
    .myNav-item:not(.active):before { /* Flèche down */
        border-bottom-width:0;
        border-top-color: black;
    }
    .myNav-item.active:before { /* Flèche up */
        border-top-width:0;
        border-bottom-color:black;
    }
    .navTabsModife {
        text-align: start !important;
        padding: 12px 20px !important;
    }
    .sectionFooter {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .BlockLogoFooter {
        max-width: 100%;
        margin-top: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .imgCercle{
        margin-top: 11px;
    }
    .BlockLogoFooter {
        max-width: 100%;
        margin-top: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sectionFooter {
        padding-top: 5px;
        margin-top: 50px;
        padding-bottom: 10px;
    }
    .colCercle {
        width: 50% !important;
    }
    .colIcones {
        width: 40% !important;
    }
    .groupe2 {
        margin-bottom: 0px;
    }
    .formFiltre {
        display: block !important;
    }
    .contentCours {
        margin-top: 5px;
    }
    #domaine1 {
        width:100% !important;
    }
    #domaine2 {
        width: 100%;
    }
    #domaine3 {
        width: 100%;
    }
    .live {
        width: 60%;
    }
    .courLive {
        display: block;
    }
    .imgLive {
        width: 100%;
    }
    .blockDomaine {
        padding-left: 0px;
        padding-right: 0px;
    }
    .calendar {
        width: 50%;
    }
    .decriptionProf {
        font-size: 16px;
    }
    .btnCours {
        margin-top: 30px !important;
        margin-bottom: 30px;
    }
    .imgBlockcours {
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }
    .mb-5, .my-5 {
        margin-bottom: 2rem!important;
    }
    .formFiltreClassroom{
        display: block;
        margin-bottom: 15px;
        margin-top: 0;
        padding-right: 0;
    }
    .filterClassInput1 {
        width: 100% !important;
    }
    .filterClassInput2 {
        width: 100%!important;
    }
    .textClass {
        color: #222222;
        font-size: 13px;
    }
    .classroomType {
        width: 50%;
    }
    .numberClass {
        font-size: 22px;
        margin-bottom: 0px;
        margin-top: 2px;
    }
    .imgPlus {
        right: 10px;
        top: 10px;
    }
    .apprenant {
        font-size: 11px;
    }
    .classroomApprenants {
        width: 28%;
        text-align: center;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .imgProfil {
        margin-left: 0px;
    }
    .navItemModife{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .presentationDesktop{
        display: none;
    }
    .presentationMobile{
        display: block;
    }
    .contentCours {
        margin-top: 5px;
    }
    body {
        background: #f5f6f9;
        overflow-x: hidden;
    }
    .myNav {
        width: 100%;
        background: #fff;
        padding-left: 0px;
        border: 1px solid #00000029;
        margin-top: 45px;
    }
    .myNav-item:not(:first-child) {
        border-top:1px solid #4d4d4d;
    }
    .myNav-link {
        display:block;
        padding:8px 5px;
    }
    .myNav-content {
        padding:0 20px;
        padding-bottom:8px;
    }
    .ui-accordion-content {
        display:none;
    }
    .active > .ui-accordion-content {
        display:block;
    }

    .myNav-item {
        position: relative;
        list-style: none;

    }
    .myNav-item:before { /* Flèche */
        content:'';
        position:absolute;
        top:17px; right:10px;
        width:0; height:0;
        border-style:solid;
        border-color:transparent;
        border-width:5px; /* Taille de la flèche */
        pointer-events:none; /* Clique neutralisé */
    }
    .myNav-item:not(.active):before { /* Flèche down */
        border-bottom-width:0;
        border-top-color: black;
    }
    .myNav-item.active:before { /* Flèche up */
        border-top-width:0;
        border-bottom-color:black;
    }
    .navTabsModife {
        text-align: start !important;
        padding: 12px 20px !important;
    }
    .live {
        width: 30%;
    }
    .imgBlockcours {
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }
    .filterClassInput1 {
        width: 100% !important;
    }


}
