@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Regular.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/montserrat/Montserrat-Bold.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../font/montserrat/Montserrat-Light.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/montserrat/Montserrat-Medium.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Medium.woff2') format('woff2');
}

body{
    background: #f5f6f9;
}

.dispa{
    display: flex;
    position: relative;
}
.dispaJusti{
    display: flex;
    justify-content: space-between;
}

.inputRecherche{
    width: 350px;
    border-radius: 4px;
    background-color: #F5F6F9;
    margin: 9px 30px 8px 38px ;
}

.navModife {
    background: #1489cb;
}
.navImage{
    width: 229px;
}
.imgNave{
    width: 26px;
}
.nameProfil {
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 15px;
    padding-top: 8px;
    margin-left: 15px;
    margin-bottom: 0;

}
.imgProfil{
    height: 36px;
    width: 36px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 22px;
}
.activeElement{
    height: 16px;
    width: 16px;
    border: 1px solid #FFFFFF;
    background-color: #6DD400;
    position: absolute;
    top: 20px;
    left: 47px;
    border-radius: 100%;
}
.iconesNave{
    margin-top: 4px;
    margin-right: 20px;
}
.imgNave2{
    width: 22px;
}
.dropdown-toggle::after {
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}
.btnDropModife{
    background: none;
    width: 50%;
    padding: 0;
    margin-top:4px;
    margin-left: 5px;
}
.dropMenueModife{
    margin-left: -65px;
    margin-top: 15px;
}
.collapseModife{
    margin-right: 30px;
}
.blockElephant img{
    margin-left: 40px;
    width: 90%;
    margin-bottom: 10%;
}
.sectionFooter{
    padding-top: 5px;
}
.coverElement img{
    margin-top: 50px;
    width: 96%;
}

.cardModife{
    margin-top: -120px;
    margin-left: 40px;
    width: 600px;
    padding: 30px;
}
.blockPhoto{
    width: 90px;
    height: 90px;
    overflow: hidden;
}
.blockPhoto img{
    width: 100%;
}
.information{
    width: 78%;
}

.name {
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.poste {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Localisation{
    opacity: 0.7;
    color: #000000;
    font-size: 12px;
    font-weight: 300;

}
.imgLocalisation{
    margin-top: -20px;
    padding-right: 5px;
}
.BlockLocalisation{
    display: flex;
}
.blockLocalisation1{
    width: 45%;
}

.groupFollewers{
    display: flex;
    justify-content: space-between;
}
.nombre{
    color: #008DD4;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
}
.followers{
    opacity: 0.7;
    color: #222222;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
}
.blockButtonProfesseurs{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.btnSuivre {
    box-sizing: border-box;
    height: 40px;
    width: 110px;
    background: white !important;
    color: #008DD4 !important;
    border: 1px solid #008DD4;
    border-radius: 4px;
}
.btnreseau{
    height: 40px;
    width: 240px;
    border-radius: 4px;
    background-color: #008DD4;
    color: #ffffff;
}
.con-label {
    display: flex;
}
.con-label img{
    margin-top: -16px;
}

.labelTextMessage{
    color: #202841;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-transform: uppercase;
    padding-left: 5px;
}
.navTabsModife{
    opacity: 0.4;
    color: #110F24;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 4rem !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
    opacity: 1 !important;
    font-weight: bold !important;
    background: #f5f6f9;
}
.sectionTabs {
    margin-top: 70px;
}
.nav-link{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.nav-link.active {
    color: #495057;
    border-bottom: 4px solid #008DD4 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.imgCercle img{
    margin-bottom: 0;
    margin-top: 5px;
}
.presentation{
    color: #008DD4;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 19px;
    padding-top: 4px;
}
.CardModifeProf {
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: .25rem;
    box-shadow: -2px -1px 5px 5px rgba(245,246,249,1);
    margin-top: 30px;
    padding: 25px 30px 10px 30px;
}
.card {
    border: none !important;
}
.BlockImgPresentation{
    width: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.description{
    opacity: 0.7;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 50px;
}
.universite{
    color: #252525;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3px;

}
.annee{
    color: rgba(37,37,37,0.75);
    font-size: 14px;
    font-weight: 300;
}
.blockParcour{
    margin-bottom: 15px;
}
.groupe2{
    margin-bottom: 15px;
}
.typeFormation{
    color: #252525;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3px;
}
.descriptionFormation{
    color: rgba(37,37,37,0.75);
    font-size: 14px;
    font-weight: 300;
}
.tab-content{
    background: #f5f6f9;
}
.sectionFooter{
    padding-top: 5px;
    background: white;
    border-top: 1px solid #e2e1e1;
    margin-top: 90px;
}
.BlockLogoFooter{
    float: right;
    margin-top: 7px;
}
.BlockLogoFooter .imgReseaux{
    padding-right: 15px;
}
.informationMobile{
    display: none;
}
.presentationMobile{
    display: none;
}
.filtre{
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.plateforme{
    opacity: 0.7;
    color: #222222;
    font-size: 16px;
    font-weight: 300;
}
.contentCours{
    margin-top: 40px;
}
.formFiltre{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#domaine1{
    height: 48px !important;
    width: 486px !important;
    border-radius: 4px !important;
    background-color: #FFFFFF !important;
}
#domaine2{
    height: 48px;
    width: 206px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #999898;
    font-size: 14px;
    border: 1px solid #52525236;
}
#domaine3 {
    height: 48px;
    width: 171px;
    border-radius: 4px;
    background-color: #FFFFFF;

}
.btnModife2{
    margin-top: 5px;
    border-radius: 4px;
    background-color: #148ACB !important;
}
.niveau::placeholder{
    color: #999898;
    font-family: Avenir;
    font-size: 14px;
}
.live{
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.09px;
    line-height: 25px;
    border-bottom: 1px solid #008DD4;
    width: 20%;
    padding-bottom: 15px;
}
.courLive{
    display: flex;
    margin-bottom: 30px;
}
.timeBlock{
    display: flex;
}
.calendar{
    display: flex;
    width: 12%;

}
.Time{
    display: flex;
    width: 30%;
}
.imgLive{
    position: relative;
    width: 500px;
}
.imgLive img{
    width: 100% !important;
    height: 100% ;
}
.colorElement{
    background: rgba(20,138,203,0.5);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.domaineLive{
    color: #008DD4;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.descriptionLive{
    color: #222222;
    font-weight: 500;
    margin-bottom: 12px;
}
.dateTime{
    color: #242A42;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 10px;
}
.calendar img{
    margin-top: 2px;
    height: 13px;
}
.Time img{
    margin-top: 2px;
    height: 13px;
}
.text3{
    color: #222222;
    font-size: 14px;
    font-weight: 300;
}
.blockDomaine{
    padding-left: 20px;
    padding-top: 12px;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    padding-right: 20px;
}
.imgBlockcours{
    height: 196px;
    width: 348px;
}
.imgBlockcours img{
width: 100%;
}
.nomProf{
    color: #544837;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-bottom: 10px;
}
.prenom{
    color: #008DD4;
}
.decriptionProf {
    color: #110F24;
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 5px;
}
.etoile{
    font-size: 30px;
    cursor: pointer;
    color: #FFAD00 !important;
}
.etoileBlock{
    display: inline-block;
}
.gold:before{
    content: '\2605';
    position: absolute;
}
.btnCours{
    background-color: #1489cb;
    padding: 7px 30px !important;
    margin-top: 50px !important;
}
.formFiltreClassroom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 35px;
    padding-right: 245px;
}
.filterClassInput1 {
    height: 49px;
    width: 460px !important;
    border-radius: 4px !important;
    background-color:#ECECEC !important;
}
.filterClassInput2 {
    height: 48px;
    width: 206px !important;
    border-radius: 4px;
    background-color: #ECECEC;
    color: #999898;
    font-size: 14px;
    border: 1px solid #52525236;
}
.classroom{
    display: flex;
    padding: 14px 20px;
}
.apprenant{
    opacity: 0.7;
    color: #222222;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.cardClassroom{
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(178,178,178,0.5);
    position: relative;
    margin-bottom: 30px;

}
.imgClass{
    height: 72px;
    width: 72px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid white;
    margin-right: 16px;
    margin-bottom: 0;
}
.imgClass img{
    width: 100%;
}
.textClass{
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.09px;
    line-height: 21px;
    margin-bottom: 10px;
}
.btnMyclassroom{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 9px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #fa6342;
    border-radius: 4px;
    background-color: #fa6342 !important;
    padding: 2px 10px;
}
.btnMyclassroomToo{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 9px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #008DD4;
    border-radius: 4px;
    background-color: #008DD4;
    padding: 2px 10px;
}
.numberClass{
    color: #008DD4;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 3px;
    margin-top: 9px;
}
.imgPlus{
    position: absolute;
    right: 20px;
    top: 12px;
}
.classroomType{
    width: 53%;
}
.classroomApprenants{
    width: 15%;
    text-align: center;
}
.imgPubProfil{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid white;
    margin-right: 15px;
}
.imgPubProfil img{
    width: 100%;
}
.charle{
    color: #148ACB !important;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.dateTimePub{
    color: #919EAB;
    font-size: 10px;
}
.debutPub{
    display: flex;
}
.paragraphe1{
    color: #202841;
    font-size: 14px;
}
.cardPub1{
    position: relative;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(178,178,178,0.5);
    margin-bottom: 20px;
    margin-right: 32px;
    padding: 16px 20px;
}
.cardPub3{
    position: relative;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(178,178,178,0.5);
    margin-bottom: 20px;
    padding: 16px 20px;
}
.imgPub1{
    width: 100%;
}
.publicationBlock{
    padding-top: 35px;
}
.reactionImage{
    display: flex;
    width: 27%;
    margin-top: 4px;
    justify-content: space-between;
}
.reaction{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
.groupImage{
    display: flex;
    margin-right: 15px;
}
.numberReaction{
    opacity: 0.31;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}
.Blockcom{
    display: flex;
}
.Blockcom img{
    height: 16px;
    width: 20px;
}
.imgGroupCom{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid white;
    margin-right: -15px;
    margin-top: 4px;
}
.imgGroupCom img{
    width: 100%;
}

.blocNew{
    padding: 20px 2px 10px;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    position: relative;
}
.blocNew input{
    width: 100%;
    flex: 1;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #EDF1F6;
    border-radius: 100px;
}
.profileImage{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.profileImage img{
    width: 100%;
}
.blocNew .new-image{
    position: absolute;
    right: 40px;
    width: 20px;
}
.blocNew .new-image img{
    width: 100%;
}
.pubCours{
    color: #202841;
    font-size: 14px;
    letter-spacing: 0;
    padding-left: 10px;
    margin-bottom: 0px;
}
.imgPlaye{
    position: absolute;
    margin: auto;
}
.imgElemnt{
    position: relative;
}
.titre-cours {
    color: #202841;
    font-weight: 500;
    font-size: 15px;
}
.descriptionCours{
    color: #202841;
    font-size: 14px;
}
.btnModife3{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 900;
    float: right;
    border-radius: 4px;
    background-color: #008DD4;
    padding: 12px 15px;
    margin-bottom: 14px;
    margin-top: 8px;
}
.colModif1 {
    margin-left: -10px !important;
}
.imgPlaye {
    position: absolute;
    top: 35%;
    left: 40%;
}
.descriptionPartage{
    border-radius: 0 0 8px 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05);
    padding: 20px 10px 2px 20px;
    margin-bottom: 20px;
}
.descriptionPartage p{
    color: #202841;
    font-size: 14px;
}
.commentaire{
    margin-top: 33px;
}
.commentaire .elementCom {
    display: flex;
}
.commentaire .elementCom .groupe5 .nom{
    color: #202841;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.commentaire .elementCom .groupe5 .text{
    color: #202841;
    font-size: 11px;
    margin-bottom: 18px;
}
.commentaire .elementCom .groupe5{
    width: 90%;
}

.groupe5 .date{
    display: flex;
}
.groupe5 .date .groupe7{
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-left: 25px;
}
.groupe5 .date .groupe7 img{
    height: 12px;
    margin-top: 2px;
}
.groupe5 .date .dateText{
    color: #919EAB;
    font-size: 10px;
    margin-bottom: 12px;
}
.margeElement{
    margin-bottom: 18px;
}
.footer-card-Block{
    background-color: #E8E8E8;
    margin-top: -90px;
    position: relative;
    border-radius: 0 0 8px 8px;
    padding: 20px 10px 2px 20px;
}
.hrModife3 {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #979797;
    opacity: 0.2;
    margin-top: 28px;
}
.evenement{
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.09px;
    margin-bottom: 15px;
}
.voirPlus{
    color: #179BFF;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
}
.textNext {
    color: rgba(0,0,0,0.8);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 18px;
    padding-right: 11px;
}
.textDescription{
    opacity: 0.7;
    color: #008DD4;
    font-family: Futura;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 12px;
    padding-right: 40px;
}
.imgNext {
    height: 115px;
    width: 210px;
    margin-top: 6px;
}
.next-savoir {
    color: #179BFF;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 16px;
}
.carousel-control-prev-icon {
    background-image: url('../images/left.svg') !important;
}
.carousel-control-next-icon {
    background-image: url('../images/right.svg') !important;
}
.carousel-control-next, .carousel-control-prev {
    top: 70% !important;
}
.carousel-control-prev {
    left: 78% !important;
}
.cardNext{
    box-shadow: 0 1px 1px 0 rgba(178,178,178,0.5);
    margin-bottom: 25px;
    padding-top: 16px;
    padding-bottom: 8px;
    position: relative;
}
.elementPadding{
    padding-left: 20px;
    padding-right: 20px;
}
.hrModife5{
    margin-top: -2px;
    margin-left: -12px !important;
    margin-right: -20px;
    opacity: 0.7;
}
.promotion-Para {
    color: #222222;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
}
.promotion-description {
    color: #222222;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 10px;
}
.cardPromotion{
    background: linear-gradient(270deg, #008DD4 0%, #FFFFFF 100%);
    border-radius: 4px;
    padding: 20px 0px 13px 17px;
    margin-bottom: 30px;
}
.group-3 {
    width: 120px;
    position: absolute;
    right: 0;
}
.elementPromotion{
    display: flex;
}
.news{
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.1px;
    margin-bottom: 15px;
}
.lorenNews{
    opacity: 0.7;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 20px;
}
.btnDecouvre{
    border-radius: 4px;
    background-color: #008DD4;
    text-transform: uppercase;
    padding: 7px 70px;
    margin-bottom: 15px;
}
.blockSearch{
    text-align: center;
    margin-bottom: 10px;
}
.blockButtonDecouvrir{
    text-align: center;
}
.blockSponsore .universite{
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.09px;
    margin-bottom: 15px;
}
.blockSponsore {
    padding-right: 100px;
    margin-top: 30px;
}
.sponsore{
    margin-bottom: 15px;
}
