@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Regular.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Bold.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Light.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Light.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Medium.woff'), /* IE9 Compat Modes */ url('../font/montserrat/Montserrat-Medium.woff2') format('woff2');
    font-weight: 600;
}

body{
    font-family: 'Montserrat';
}